* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.calorieCal-wrap {
    background-color: rgb(75, 148, 177);
    position: absolute;
    left:30px;
    top:100px;
    width: 365px;
    height: 390px;
    margin: 20px auto 0;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 30px;

    h1 {
        margin: 5px 0;
    }

    .inputRow {
        margin: 5px 0;

        p{
            font-weight: 700;
            margin:0;
        }
    }

    input {
        box-shadow: black 4px, 4px, 4px, 4px;
    }

    #ageInputEl {
        width: 80px;
    }

    #metricBtnEl {
        outline: 0;
    }

    #usBtnEl {
        outline: 0;
    }

    #heightInputUsEl {
        display: none;
        width: 50px;
    }

    #height2InputUsEl {
        display: none;
        width: 50px;
    }

    #weightInputUsEl {
        display: none;
    }

    #calorieCalBtnEl {
        margin: 5px 0;
    }

    #resultBox {
        margin: 15px auto 0;
        width: 320px;
        height: 80px;
        background-color: ivory;
        color: black;
        border-radius: 10px;
        // position: absolute;
        padding: 15px;
    }

    #displayCalorieEl {

        h3 {
 
            margin: 0 0 10px;
        }

        h4 {
            margin: 8px 0 0;
        }

        p {
            margin: 3px 0;
            font-size: 15px;
        }

        i{
            color:grey
        }
    }
}
