* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.calorieCal-wrap {
    background-color: rgb(29, 138, 146);
    width: 400px;
    height: 500px;
    margin: 20px auto 0;
    padding: 20px;
    font-family: "Comfortaa", cursive;
    color: rgb(0, 0, 0);
    border-radius: 30px;

    input{
        margin:5px 0;
    }

    #metricBtnEl:focus {
        background-color: grey;
    }

    #usBtnEl:focus {
        background-color: grey;
    }

    #heightInputUsEl {
        display: none;
    }

    #height2InputUsEl {
        display: none;
    }

    #weightInputUsEl {
        display: none;
    }

    #displayCalorieEl{
        color:white
    }
}
