* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.foodCalWrap {
    #displaySearchBox {
        width: 1000px;
        height: 300px;
        border: 1px solid black;

        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        img {
            width: 100px;
            height: 100px;
        }
    }
}
